* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #343a40;
  font-family: "PT Serif", "Poppins", serif;
  height: 100vh;
  line-height: 1;
  width: 1200px;
  margin: auto;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.team-intro {
  height: 200px;
  display: grid;

  grid-template-columns: 1fr 1fr;

  /* margin: 100px 0; */
}

.team-description {
  font-family: "Poppins";
  margin-left: auto;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
}

.team-subtitle {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 23px;
}

.team-text {
  font-size: 16px;
  color: #495057;
  text-align: left;
  line-height: 1.5;
  font-weight: 400;
  width: 60%;
  font-weight: 500;
}

.team {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 570px);
  /* gap: 80px; */
  row-gap: 50px;
  column-gap: 50px;
}

.team > *:nth-child(2) {
  align-self: end;
}

.team > *:nth-child(5) {
  align-self: end;
}

.member-wrapper {
  position: relative;
}

.member-wrapper img {
  width: 330px;
  margin-bottom: 16px;
}

.member-wrapper .member-name {
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins";
}

.member-wrapper .member-position {
  font-size: 18px;
  text-transform: uppercase;

  transform: rotate(90deg) translate(85%, 100%);
  transform-origin: bottom right;
  position: absolute;
  right: 0%;
  top: 0;
}

@media only screen and (max-width: 700px) {
  .team-intro {
    grid-template-columns: 1fr;
    justify-content: start;

    /* margin: 100px 0; */
  }

  .text-text {
    width: 100%;
  }

  .team {
    grid-template-columns: repeat(2, 1fr);
  }
}
